/* 
	//* Custom Color
*/
$primary: #017143;
$secondary: rgb(235, 116, 149);

/* 
	//* Custom Font
*/
$font-family-sans-serif: 'poppins',sans-serif;
$h2-font-size: 4em;
$display-font-weight: 500;

/* 
	//* Custom Btns
*/
$btn-padding-y:8px;
$btn-padding-x:20px;
$btn-font-family: $font-family-sans-serif;
$btn-border-radius: 40px;
.active{border-radius:40px !important;}
.nav-link{margin-left:40px;}

/*
	//* Import Bootstrap
*/
@import "node_modules/bootstrap/scss/bootstrap.scss";

