/* 
	//* Custom Color
*/
$primary: #017143;
$secondary: rgb(235, 116, 149);

/* 
	//* Custom Font
*/
$font-family-base: 'poppins',sans-serif;
$headings-font-family: $font-family-base;
$h2-font-size: 4em;
$display-font-weight: 500;

/* 
	//* Custom Btns
*/
$btn-padding-y:8px;
$btn-padding-x:20px;
$btn-font-family: $font-family-base;
$btn-border-radius: 40px;